* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgba(218, 216, 218, 0.822);
}

.heading {
    text-align: center;
}

h1 {
    font-size: 30px;
    color: #32a2e4;
    font-weight: normal;
}

.heading p {
    color: green;
    font-size: 18px;
}

img {
    width: 178px;
    height: 240px;
}

.heading-2 {
    width: 600px;
    margin: auto;
    text-align: center;
}

.last-p {
    padding-left: 38px;
    font-size: 20px;
}

.albert {
    padding-left: 38px;
}

.more-inf {
    color:#9617af;
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: blue;
    text-decoration: none;
}